<div class="w3-padding-large w3-card post">
  <div class="w3-center w3-hover-opacity" title="Einstein" style="width:100%; max-height:30vw; background-image:url('./pics/streetart2.jpg'); width:100%; max-height:30vw; background-size:cover; background-repeat:no-repeat; object-fit: cover; overflow:hidden; background-position:center center;">
    <img src="./pics/streetart2.jpg" style="visibility:hidden;"/>
  </div>
  <div>
    <h3 style="margin-bottom:0; padding-bottom:0;"><a href="#" class="w3-hover-text-teal" style="text-decoration:none; color:black;">Heading 1</a></h1>
    <p class="w3-opacity" style="margin-top:8px; padding-top:0;">2020-3-19 12:00</p>
  </div>

  <div>
    <p>This is content ...</p>
  </div>

  <div class="w3-padding-16 w3-hide">
    <a href="#" class="w3-button w3-teal">Detail</a>
  </div>
</div>
