<div class="w3-card" id="social_networks" style="margin-top:16px;">
  <div class="w3-container w3-padding-small">
    <span class="w3-large">Follow me on social networks</span>
  </div>
  <ul class="w3-ul w3-hoverable">
    <a href="#" style="text-decoration:none;"><li class="w3-bar" style="border-bottom: 1px solid #ddd;">
      <img src="./pics/instagram.png" class="avatar w3-bar-item"/>
      <div>
        <span class="w3-large">Instagram</span><br>
        <span>SinaSadeghi83</span>
      </div>
    </li></a>

    <a href="#" style="text-decoration:none;"><li class="w3-bar">
      <img src="./pics/telegram.png" class="avatar w3-bar-item"/>
      <div>
        <span class="w3-large">Telegram</span><br>
        <span>SinaTechs</span>
      </div>
    </li></a>
  </ul>
</div>
